
<nav class="navbar sticky-top navbar-toggleable-md navbar-light bg-faded">
  <button class="navbar-toggler navbar-toggler-right" type="button"
          data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false"
          aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <!--brand name-->
  <a class="navbar-brand" href="#">Deyan Beers Guide</a>

  <!--menu bottons-->
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/" routerLinkActive="active">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/favorites">Favorites <span class="badge badge-primary">2</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/cart">Cart <span class="badge badge-danger">1</span></a>
      </li>
    </ul>
  </div>
</nav>
